:root {
    --blue: #37517E;
}
:root{
    --light-dark :#F3F5FA;
}

.front {
    background-color: var(--blue);
}
.bg-light-dark{
    background-color: var(--light-dark);
}
.front a {
    color: white !important;
}

.anim-img {
    animation: drop-down 1s linear infinite alternate;
}

@keyframes drop-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }

}

.gray {
    width: 100%;
    position: relative;
    height: 2px;
    margin: auto;
    background-color: gray;
    border-radius: 20px;
}

.blue {
    width: 50%;
    margin: auto;
    position: absolute;
    height: 6px;
    display: flex;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: #47B2E4;
}

.about {
    color: var(--blue);
}

.max-content {
    width: max-content;
    margin: auto;
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}

.card {
    border: none !important;
    padding: 1.5rem !important;
}

.card:hover {
    transform: translateY(-20px);
    transition: all 3s;
}

.parallax-effect{
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)) 0% 0% / cover, url("https://bootstrapmade.com/content/demo/Arsha/assets/img/cta-bg.jpg") center center fixed;
}

.image-parent{
    overflow: hidden;
}
.img-text{
    bottom: 0px;
    transform: translateY(80px);
    transition: all 0.2s ease-out;
}
.image-parent:hover .img-text{
transform: translateY(0);
}
.image{

}
.image:hover{
    transform: scale(1.07);
    transition: all .3s;
}




@media (max-width:760px) {
    .my-img{
        width: 50%;
        margin: auto;
        display: block;
    }
    .my-text{
        text-align: center;
    }
    .my-hr{
        margin: auto !important;
    }
    
}